.Recipes {
  background-color: #373d48;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.Recipes * {
  box-sizing: border-box;
}

.Recipes-container {
  background-color: #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0 -3mm 4mm rgb(255, 255, 255, .3));
  flex-grow: 100;
  width: 100%;
  max-width: 1000px;
  margin: 20px;
  padding: 20px;
}
      

.Recipes-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Recipes-search {
  margin-bottom: 60px;
}

.Recipes-search__label {
  display: block;
  color: #6a6a6a;
  font-size: .8em;
  font-weight: 700;
  margin-bottom: 5px;
}

.Recipes-search__input {
  background-color: rgba(139, 46, 0, .09);
  font-size: 1.5rem;
  min-width: 0;
  width: 94%;
  flex: 1 1;
  height: 35px;
  border: 1px solid #b7b7b7;
  padding: 10px 10px 11px;
}

.Recipes-count {
  display: block;
  color: #7e7e7e;
  font-size: .95em;
  font-weight: 700;
  border-bottom: 2px solid #e4e4e4;
  padding-bottom: 8px;
}

.Recipes-count svg {
  margin-left: 8px;
  top: 1px;
  position: relative;

  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.Recipes-count-length {
  color: #e4147a;
}

.Recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.Recipes-footer {
  margin: 70px 0 0;
}

.Recipes-footer__project {
  color: #7e7e7e;
  font-size: .8em;
  margin: 0 0 3px;
}

.Recipes-footer__developer {
  color: #7e7e7e;
  margin: 0;
  font-size: .9em;
  font-weight: 800;
}

